/*=0 default
-------------------------------------------------------------*/
.navbar-fixed-top .container,
.content-wrapper .container {
  max-width: 100%;
}

.navbar-fixed-top + .wrapper {
  margin-top: 51px;
}

.wrapper {
  padding-left: 200px;
  transition: all 0.4s ease 0s;
  overflow: hidden;
}

.sidebar-wrapper {
  margin-left: -200px;
  left: 200px;
  width: 200px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

.content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  padding-left: 1.6em;
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active a {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  padding-left: 0;
  color: #DDD;
  background: none;
}
.sidebar-nav > .sidebar-brand a {
  padding-left: 0;
}

.sidebar-nav > .sidebar-brand i {
  text-indent: 0;
}

.sidebar-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

/*=1 responsive
-------------------------------------------------------------*/
@media (max-width:767px) {

.wrapper {
  padding-left: 0;
}

.sidebar-wrapper {
  left: 0;
}

.wrapper.active {
  position: relative;
  left: 200px;
}

.wrapper.active .sidebar-wrapper {
  left: 200px;
  width: 200px;
  transition: all 0.4s ease 0s;
}

.sidebar-minimized {
  margin-left: -15px;
  position: relative;
}

.sidebar-toggle {
  padding: 15px 1px;
  display: inline-block;
  position: absolute;
  top: 10px; left: 0;
  font-size: 10px;
  border: solid 1px #333;
  border-style: solid solid solid none;
}
.sidebar-toggle:hover,
.sidebar-toggle:active {
  background-color: #DDD;
}

.inset {
  padding: 15px;
}

}