
/*=0 footer
-------------------------------------------------------------*/
.footer {
	margin-top: 60px;
}
.footer p.copy {
	line-height: 38px;
	border-top: solid 1px #DDD;
}

/*=0 dropdown-user
-------------------------------------------------------------*/
.navbar-user {
	float: right;
	margin-right: -15px;
}
.navbar-user .dropdown-menu {
	right: 0;
	left: auto;
	min-width: 220px;
		color: #999999;
		background-color: #101010;
		border: solid 1px #101010;
		border-radius: 0;
		-webkit-box-shadow: none;
		        box-shadow: none;
}
.navbar-user .dropdown-menu .user-info {}
.navbar-user .dropdown-menu .user-info img.user-icon {
	float: left;
	margin: 5px 10px;
	width: 50px;
	height: 50px;
}
.navbar-user .dropdown-menu .user-info ul.user-data {
	list-style-type: none;
}
.navbar-user .dropdown-menu .user-info ul.user-data li {
	padding-top: 5px;
}

@media (max-width:767px) {
	.navbar-user {
		margin-right: 0px;
		width: 100%;
	}
	.navbar-user .dropdown-toggle {
		display: none;
	}
	.navbar-user .dropdown-menu {
		display: block;
		position: relative;
		width: 100%;
		background-color: transparent;
		border: none;
	}
	.navbar-user .dropdown-menu .user-info img.user-icon {
		width: 50px;
		height: 50px;
	}
}

/*=0 pagination
-------------------------------------------------------------*/
.pagination {
	margin: 5px 0;
}
.pagination-counter {
	line-height: 39px;
}

/*=0 table form
-------------------------------------------------------------*/
form table label {
	margin-bottom: 0;
	line-height: 30px;
}
form table.table td .col {
	padding-left: 3px;
	padding-right: 3px;
}
form table.table td .col.time {
	width: 80px;
}
form table.table td span.separator {
	float: left;
	padding-left: 3px;
	padding-right: 3px;
	line-height: 30px;
}
form table.table td p.error {
	clear: both;
	float: left;
	margin: 0;
	padding-left: 3px;
	padding-right: 3px;
	line-height: 30px;
	font-size: 85%;
}
ul.btn-menu {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}
ul.btn-menu li {
	margin: 0;
	padding: 0;
	display: inline;
}

/*=0 form in horizontal definition-list
-------------------------------------------------------------*/
form dl.form-group.dl-horizontal {
	margin: 3px 0;
}
form dl.form-group.dl-horizontal dt {
	width: 75px;
	line-height: 30px;
}
form dl.form-group.dl-horizontal dd {
	margin-left: 85px;
}
form dl.form-group.dl-horizontal dd span.separator {
	float: left;
	padding-left: 3px;
	padding-right: 3px;
	line-height: 30px;
}
form dl.form-group.dl-horizontal dd p.error {
	clear: both;
	float: left;
	margin: 0;
	padding-left: 3px;
	padding-right: 3px;
	line-height: 30px;
	font-size: 85%;
}

.products ul {
	padding-left: 10px;
	list-style-type: none;
}
.products ul span {
	display: inline-block;
	/*text-align: right;*/
	padding-right: 0.8em;
}
.products ul span.ja {
	width: 90px;
}
.products ul span.fr {
	width: 110px;
}
.products ul span.ch {
	width: 60px;
}
