@charset "utf-8";
/**
 *
 * Debug CSS for CakePHP
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.webroot.css
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

/*=1 SQL log
-------------------------------------------------------------*/
.cake-sql-log {
	background: #fff;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}

/*=2 Debugging
-------------------------------------------------------------*/
.cake-error,
.cake-debug,
.error-message {
	margin-bottom: 18px;
	padding: 7px 14px;
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image:    -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image:      -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image:     -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image:         linear-gradient(top, #ffcc00, #E6B800);
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	color: #404040;
	text-shadow: 0 -1px 0 rgba(  0,   0,   0, 0.25);
	text-shadow: 0  1px 0 rgba(255, 255, 255, 0.5);
}
.cake-error,
.error-message {
	clear: both;
	background: #c43c35;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image:    -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image:      -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image:     -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image:         linear-gradient(top, #ee5f5b, #c43c35);
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
pre {
	padding: 15px;
	background: #f0f0f0;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	color: #000;
}
.cake-debug-output {
	padding: 0;
	position: relative;
}
.cake-debug-output > span {
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px 6px;
	float: left;
	background: rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	   -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	color: #000;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.cake-debug,
.cake-error {
	clear: both;
	line-height: 20px;
}
.cake-error > a {
	text-shadow: none;
}
.cake-error {
	white-space: normal;
}
.cake-stack-trace {
	position: relative;
	margin: 10px 0 5px 0;
	padding: 10px 10px 0 10px;
	line-height: 140%;
	background: rgba(255, 255, 255, 0.7);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	color: #333;
	overflow: auto;
}
.cake-stack-trace a {
	display: inline-block;
	margin: 0px 4px 10px 2px;
	padding: 5px;
	line-height: 14px;
	background: rgba(255, 255, 255, 0.7);
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	-webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
	        box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
	font-family: sans-serif;
	text-shadow: none;
	text-decoration: none;
}
.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
.cake-context {
	margin-bottom: 10px;
}
.cake-stack-trace pre {
	margin: 0px 0 10px 0;
	padding: 1em;
	background-color: #F0F0F0;
	color: #000;
	text-shadow: none;
	overflow: auto;
}
.cake-stack-trace li {
	margin: 0 0 4px 0;
	padding: 10px 5px 0px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image:    -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image:      -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image:     -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image:         linear-gradient(top, #fefefe, #dcdcdc);
	border: 1px solid #bbb;
	-wekbkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	         border-radius: 4px;
	font-family: monospace;
}
/*=3 Excerpt
-------------------------------------------------------------*/
.cake-code-dump pre,
.cake-code-dump pre code {
	margin: 4px 2px;
	padding: 4px;
	clear: both;
	line-height: 15px;
	overflow: auto;
}
.cake-code-dump .code-highlight {
	display: block;
	background-color: rgba(255, 255, 0, 0.5);
}
.code-coverage-results div.code-line {
	display:block;
	margin-left:10px;
	padding-left:5px;
}
.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
.code-coverage-results div.covered span.content {
	background:#cec;
}
.code-coverage-results div.ignored span.content {
	color:#aaa;
}
.code-coverage-results span.line-num {
	display:block;
	float:left;
	margin-right:5px;
	width:20px;
	color:#666;
	text-align:right;
}
.code-coverage-results span.line-num strong {
	color:#666;
}
.code-coverage-results div.start {
	margin-top:30px;
	padding-top:5px;
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
}
.code-coverage-results div.end {
	margin-bottom:30px;
	padding-bottom:5px;
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
}
.code-coverage-results div.realstart {
	margin-top:0px;
}
.code-coverage-results p.note {
	margin:5px 0 10px;
	padding:5px;
	color:#bbb;
}
.code-coverage-results span.result-bad {
	color: #a00;
}
.code-coverage-results span.result-ok {
	color: #fa0;
}
.code-coverage-results span.result-good {
	color: #0a0;
}
