@charset "UTF-8";

/*印刷画面*/
#print .content {
	width: 210mm;
	height: 300mm;
	margin: 0 auto;
	background-image: url(../img/print/bg.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 794px 1123px;
	text-align: center;
}
#print .content .inner {
	width: 149mm;
	margin: 0 auto;
}
#print .content .inner #head {
	font-size: 20px;
	padding-top: 20mm;
	margin-bottom: 9mm;
}
#print .content .inner #head .date_name {
	font-size: 16px;
}
#print .content .inner #menu-list .menu {
	float: left;
	width: 37mm;
	margin: 0 18mm 10mm 0;
}
#print .content .inner #menu-list .menu img {
	width: 140px;
	border: 1px #caaa20 solid;
	margin-bottom: 2mm;
}
#print .content .inner #menu-list .menu dl dt {
	font-size: 14px;
	color: #caaa20;
}
#print .content .inner #menu-list .menu dl dd {
	height: 2em;
	font-size: 11px;
}
#print .content .inner #menu-list .menu dl dd ruby {
	ruby-align: left;
}
#print .content .inner #menuBox #mainImg {
	margin-bottom: 9mm;
}
#print .content .inner #menuBox #mainImg img {
	border: 2px #9e8b5b solid;
}
#print .content .inner #menuBox #menuList {
	margin-bottom: 6mm;
	text-align: left;
}
#print .content .inner #menuBox #menuList li {
	margin-bottom: 0.5em;
}
#print .content .inner #menuBox #menuList li span {
	font-weight: bold;
	margin-right: 0.8em;
	display: inline-block;
}
#print .content .inner #menuBox #menuList li span.ja {
	margin-left: 16mm;
	width: 16mm;
	color: #9e8b5b;
}
#print .content .inner #menuBox #menuList li span.fr {
	margin-left: 7mm;
	width: 24mm;
	color: #003658;
}
#print .content .inner #menuBox #menuList li span.ch {
	margin-left: 18mm;
	width: 13mm;
	color: #a54122;
}
#print .content .inner #price {
	background: #d87676;
	color: #fff;
	font-size: 16px;
	padding: 10px 0;
	margin-bottom: 3mm;
}
#print .content .inner #price span {
	font-size: 12px;
}
#print .content .caution {
	font-size: 80%;
	margin-bottom: 20px;
}
#print .single .inner {
	padding-top: 60mm;
}
#print .single .inner .single-img img {
	width: 140mm;
	margin-bottom: 5mm;
}
#print .single .inner dl dt {
	font-size: 14px;
}
#print .single .inner dl dt.ja {
	color: #9e8b5b;
}
#print .single .inner dl dt.fr {
	color: #003658;
}
#print .single .inner dl dt.ch {
	color: #a54122;
}
#print .single .inner dl dd {
	font-size: 14px;
}
#print .single {
	page-break-after: always;
}
#menu-list .menu .menu-image {
	position: relative;
}
#menu-list .menu .menu-image .type {
	color: #fff;
	padding: 0.25em 0.4em;
	margin-right: 0.8em;
	width: 1em;
	position: absolute;
	top: 0;
	left: 0;
}
#menu-list .menu .menu-image .type.ja {
	background: #9e8b5b;
}
#menu-list .menu .menu-image .type.fr {
	background: #003658;
}
#menu-list .menu .menu-image .type.ch {
	background: #a54122;
}
.single .single-img {
	position: relative;
}
.single .single-img .type {
	color: #fff;
	padding: 0.25em 0.4em;
	margin-right: 0.8em;
	width: 1em;
	position: absolute;
	top: 1em;
	left: 2.2em;
	font-size: 120%;
}
.single .single-img .type.ja {
	background: #9e8b5b;
}
.single .single-img .type.fr {
	background: #003658;
}
.single .single-img .type.ch {
	background: #a54122;
}
#ja #price {
	border-top: 1px #9E8B5B solid;
	border-bottom: 1px #9E8B5B solid;
	color: #9E8B5B!important;
	background: #fff!important;
}
#fr #price {
	border-top: 1px #003658 solid;
	border-bottom: 1px #003658 solid;
	color: #003658!important;
	background: #fff!important;
}
#ch #price {
	border-top: 1px #A54122 solid;
	border-bottom: 1px #A54122 solid;
	color: #A54122!important;
	background: #fff!important;
}
#sl #price {
	border-top: 1px #caaa20 solid;
	border-bottom: 1px #caaa20 solid;
	color: #caaa20!important;
	background: #fff!important;
}
.menu-type {
	font-size: 11px;
	color: #caaa20;
}


/*静的ページセレクトメニュー*/
#selectMenu .content {
	width: 210mm;
	height: 300mm;
	margin: 0 auto;
	background-image: url(../img/print/bg.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 794px 1123px;
	text-align: center;
	page-break-after: always;
}
#selectMenu .content .inner {
	width: 149mm;
	margin: 0 auto;
}
#selectMenu .content .inner .head {
	font-size: 20px;
	padding-top: 15mm;
	margin-bottom: 10mm;
}
#selectMenu .content .inner .head p {
	font-size: 150%;
	line-height: 1.2;
}
#selectMenu .content .inner .head p span {
	font-size: 50%;
}
#selectMenu .content .inner .menuList table {
	margin-bottom: 10mm;
	width: 100%;
}
#selectMenu .content .inner .menuList th,
#selectMenu .content .inner .menuList td {
	padding-bottom: 5mm;
}
#selectMenu .content .inner .menuList td {
	padding-left: 5mm;
	line-height: 2;
	font-size: 110%;
}
#selectMenu .content .inner .menuList th {
	position: relative;
	width: 117px;
}
#selectMenu .content .inner .menuList th img {
	width: 30mm;
	border: 1px #c9a81c solid;
}
#selectMenu .content .inner .menuList th .type {
	color: #fff;
	padding: 0.25em 0.4em;
	margin-right: 0.8em;
	width: 1em;
	position: absolute;
	top: 0;
	left: 0;
}
#selectMenu .content .inner .menuList th .ja {
	background: #9e8b5b;
}
#selectMenu .content .inner .menuList th .fr {
	background: #003658;
}
#selectMenu .content .inner .menuList th .ch {
	background: #a54122;
}
#selectMenu .content .inner .menuList td .price {
	margin-left: 0.8em;
	color: #d87676;
}
#selectMenu .content .inner .menuList td .detail {
	font-size: 70%;
}
#selectMenu .content .caution {
	font-size: 80%;
	margin-bottom: 20px;
}

/*おすすめメニュー*/
#ossm #mainImg {
	margin-bottom: 9mm;
}
#ossm #mainImg img {
	border: 2px #9e8b5b solid;
}
#ossm #menuBox #menuList {
	margin-bottom: 6mm;
	text-align: left;
}
#ossm #menuBox #menuList li {
	margin-bottom: 0.5em;
}
#ossm #menuBox #menuList li span {
	font-weight: bold;
	margin-right: 0.8em;
	display: inline-block;
	width: 6em;
	color: #c6a515;
}
#ossm #menuBox #menuList li .price {
	color: #d87676;
	margin-left: 0.5em;
}
#ossm #price {
	font-size: 16px;
	padding: 10px 0;
	margin-bottom: 3mm;
	border-top: 1px #caaa20 solid!important;
	border-bottom: 1px #caaa20 solid!important;
	color: #caaa20!important;
	background: #fff!important;
}
#ossm #price span {
	font-size: 12px;
}
#ossm .caution {
	font-size: 80%;
	margin-bottom: 20px;
}

/*お子様メニュー*/
#okosama #head {
	margin-bottom: 80px!important;
}
#okosama .okosamaMenu {
	text-align: left;
	margin-bottom: 60px;
}
#okosama .okosamaMenu .photo {
	float: left;
	background: #ccc;
}
#okosama .okosamaMenu .photo img {
	width: 230px;
	height: 170px;
}
#okosama .okosamaMenu .detail {
	width: 300px;
	float: right;
}
#okosama .okosamaMenu h2 {
	font-size: 18px;
	margin-bottom: 10px;
}
#okosama .okosamaMenu h2 span {
	color: #fff;
	font-size: 70%;
	padding: 0.3em 0.4em;
	margin-right: 5px;
}
#okosama .okosamaMenu h2 span.ja {
	background: #9e8b5b;
}
#okosama .okosamaMenu h2 span.fr {
	background: #003658;
}
#okosama .okosamaMenu .text {
	margin-bottom: 10px;
}
#okosama .okosamaMenu .priceBox {
	font-size: 16px;
	border-top: 1px #caaa20 solid;
	border-bottom: 1px #caaa20 solid;
	text-align: center;
	color: #caaa20;
}
#okosama .okosamaMenu .priceBox .tax {
	font-size: 70%;
}
#okosama .okosamaMenu .priceBox p {
	padding: 10px 0;
}