@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*------------------------------------------------------------*/
/*=0 global
-------------------------------------------------------------*/
html, body {
  height: 100%; }

body {
  font-size: 72%;
  font-family: 'ヒラギノ明朝 Pro W6','Hiragino Mincho Pro','ＭＳ Ｐ明朝',serif;
  line-height: 1.5;
  color: #282828; }

img {
  vertical-align: bottom; }

a {
  text-decoration: none; }

.mask {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #fff;
  text-align: center; }
  .mask .loader {
    height: 60px;
    vertical-align: middle;
    opacity: 0; }
    .mask .loader p {
      margin-top: 10px;
      line-height: 18px; }
    .mask .loader img {
      width: 32px;
      height: 32px; }

/*=1 heading
-------------------------------------------------------------*/
/*=2 basic structure
-------------------------------------------------------------*/
#wrapper {
  height: 100%;
  background: url(../img/common/bg.png); }

#container {
  height: 100%;
  overflow: hidden;
  *zoom: 1; }

#primary {
  width: 83%;
  float: right;
  padding-top: 60px; }

#secondary {
  position: relative;
  width: 17.2%;
  height: 100%;
  padding-top: 40px;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); }
  #secondary ul {
    margin-top: 40px;
    border-top: 1px rgba(50, 50, 50, 0.2) solid;
    border-bottom: 1px rgba(255, 255, 255, 0.2) solid; }
    #secondary ul li {
      border-top: 1px rgba(255, 255, 255, 0.2) solid;
      border-bottom: 1px rgba(50, 50, 50, 0.2) solid; }
      #secondary ul li a {
        display: block;
        padding: 1em 0; }
        #secondary ul li a:active {
          background-color: rgba(50, 50, 50, 0.3); }
  #secondary .btn-confirm {
    border: 1px rgba(255, 255, 255, 0.2) solid;
    width: 55%;
    margin: 30px auto 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
    #secondary .btn-confirm:active {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-transform: translate(0, 1px);
      transform: translate(10px); }
    #secondary .btn-confirm a {
      display: block;
      padding: 0.8em 0; }
      #secondary .btn-confirm a:active {
        background-color: rgba(50, 50, 50, 0.1); }
  #secondary .logo {
    position: absolute;
    left: 50%;
    bottom: 100px;
    margin-left: -42px; }

/*=3 navigation
-------------------------------------------------------------*/
/*=4 common
-------------------------------------------------------------*/
.buttons {
  text-align: center; }
  .buttons .button {
    display: inline-block;
    margin: 0 5px 10px 5px;
    width: 210px;
    height: 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-align: center; }
    .buttons .button:active {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-transform: translate(0, 1px);
      transform: translate(10px); }
    .buttons .button a {
      display: block;
      height: 50px;
      line-height: 50px;
      color: #fff;
      font-size: 130%;
      -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); }
  .buttons .back {
    background: #a9a9a9; }
    .buttons .back a span {
      background-image: url(../img/common/icon-back.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 18px 11px;
      padding-left: 24px; }
    .buttons .back:active {
      background: #9a9a9a; }
  .buttons .back2 {
    background: #e68652; }
    .buttons .back2 a span {
      background-image: url(../img/common/icon-back2.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 13px 16px;
      padding-left: 20px; }
    .buttons .back2:active {
      background: #d86527; }
  .buttons .next {
    background: #a9a9a9; }
    .buttons .next a span {
      background-image: url(../img/common/icon-next.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 18px 11px;
      padding-left: 24px; }
    .buttons .next:active {
      background: #9a9a9a; }
  .buttons .select {
    background: #53ad86; }
    .buttons .select span, .buttons .select input[type=submit] {
      background-image: url(../img/common/icon-select.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 20px 13px;
      padding-left: 24px; }
    .buttons .select input[type=submit] {
      border: none;
      background-color: transparent;
      padding: 0 0 0 24px;
      height: 50px;
      line-height: 50px;
      color: #fff;
      font-size: 130%;
      font-family: 'ヒラギノ明朝 Pro W6','Hiragino Mincho Pro','ＭＳ Ｐ明朝',serif;
      cursor: pointer; }
    .buttons .select:active {
      background: #3f946f; }
  .buttons .notice {
    padding-bottom: 10px; }

.homeBtn {
  position: fixed;
  bottom: 2%;
  right: 2%; }

.hide {
  display: none; }

.homeBtn a {
  display: block;
  width: 42px;
  height: 42px; }

/*------------------------------------------------------------*/
/*=1 top
-------------------------------------------------------------*/
#top {
  position: relative;
  overflow: hidden;
  *zoom: 1; }
  #top #course {
    height: 100%;
    width: 50%;
    background-image: url(../img/common/bg-topCourse.png);
    background-size: 600px 426px;
    float: left;
    position: relative; }
    #top #course div {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -112px;
      margin-top: -65px; }
      #top #course div a {
        display: block; }
  #top #select {
    height: 100%;
    width: 50%;
    background-image: url(../img/common/bg-topChoice.png);
    background-size: 600px 426px;
    float: right;
    position: relative; }
    #top #select div {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -112px;
      margin-top: -65px; }
      #top #select div a {
        display: block; }
  #top .unauth {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 260%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.1); }

/*=2 course
-------------------------------------------------------------*/
#course .course-top {
  background-image: url(../img/common/bg-side-ch.jpg);
  position: relative; }
  #course .course-top .block {
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: calc(100% / 3);
    float: left;
    height: 100%;
    text-align: center;
    position: relative; }
    #course .course-top .block a {
      display: block;
      width: 100%;
      height: 100%; }
    #course .course-top .block p {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1em;
      margin-left: -2em;
      color: #fff;
      font-size: 280%; }
      #course .course-top .block p .en {
        font-size: 50%; }
  #course .course-top #ja {
    background-image: url(../img/common/bg-ja.jpg);
    background-size: cover;
    background-position: left top; }
  #course .course-top #fr {
    background-image: url(../img/common/bg-fr.jpg);
    background-size: cover;
    background-position: left top; }
  #course .course-top #ch {
    background-image: url(../img/common/bg-ch.jpg);
    background-size: cover;
    background-position: left top; }
  #course .course-top .logo {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -43px; }
#course #flipform {
  width: 90%;
  margin: 0 auto;
  overflow: hidden; }
  #course #flipform .detail {
    float: left;
    width: 100%;
    opacity: 0; }
#course .detail {
  width: 100%;
  margin: 0;
  position: relative; }
  #course .detail .headBox {
    overflow: hidden;
    *zoom: 1;
    line-height: 340%;
    -webkit-box-shadow: 0 7px 6px -6px #b5b5b5;
    -moz-box-shadow: 0 7px 6px -6px #b5b5b5;
    box-shadow: 0 7px 6px -6px #b5b5b5;
    padding-bottom: 15px;
    margin-bottom: 25px; }
    #course .detail .headBox h1 {
      font-size: 340%;
      float: left;
      margin-right: 0.5em; }
    #course .detail .headBox .sub {
      font-size: 130%; }
  #course .detail .price {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 190%;
    line-height: 1; }
    #course .detail .price .tax {
      font-size: 55%; }
  #course .detail .detailBox {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 25px; }
    #course .detail .detailBox a {
      color: #282828; }
    #course .detail .detailBox table {
      float: left;
      width: 540px; }
      #course .detail .detailBox table .num {
        text-align: center; }
      #course .detail .detailBox table th, #course .detail .detailBox table td {
        padding: 5px 10px 5px 0; }
      #course .detail .detailBox table .attention {
        font-size: 90%; }
    #course .detail .detailBox .mainImg {
      float: right; }
  #course .detail .thumbnail {
    margin-bottom: 40px; }
    #course .detail .thumbnail ul {
      text-align: center; }
      #course .detail .thumbnail ul li {
        display: inline; }
        #course .detail .thumbnail ul li a img {
          margin: 2px; }
#course #secondary {
  color: #fff;
  text-align: center; }
  #course #secondary h2 {
    font-size: 130%; }
  #course #secondary a {
    color: #fff; }
  #course #secondary #lineup li {
    padding: 1em 0;
    cursor: pointer; }
  #course #secondary .courseNav, #course #secondary .btn_popupImg {
    position: absolute;
    width: 100%; }
    #course #secondary .courseNav .button-ja a, #course #secondary .btn_popupImg .button-ja a {
      background-image: url(../img/common/bg-side-ja.jpg);
      background-size: 640px 1160px;
      background-position: left top; }
    #course #secondary .courseNav .button-fr a, #course #secondary .btn_popupImg .button-fr a {
      background-image: url(../img/common/bg-side-fr.jpg);
      background-size: 640px 1160px;
      background-position: left top; }
    #course #secondary .courseNav .button-ch a, #course #secondary .btn_popupImg .button-ch a {
      background-image: url(../img/common/bg-side-ch.jpg);
      background-size: 640px 1160px;
      background-position: left top; }
    #course #secondary .courseNav a, #course #secondary .btn_popupImg a {
      display: block;
      width: 70%;
      margin: 0 auto 10px;
      padding: 0.8em 0;
      border-radius: 3px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      border: 1px rgba(255, 255, 255, 0.2) solid; }
      #course #secondary .courseNav a:active, #course #secondary .btn_popupImg a:active {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transform: translate(0, 1px);
        transform: translate(10px); }
  #course #secondary .courseNav {
    bottom: 250px; }
  #course #secondary .btn_popupImg {
    bottom: 150px; }
    #course #secondary .btn_popupImg .okosama a {
      background: #c4a51e;
      border: 2px #ccae2b solid;
      box-sizing: border-box; }
#course .japanese .detail .headBox h1:before {
  content: "和";
  font-size: 35%;
  background: #9e8b5b;
  color: #fff;
  padding: 0.2em 0.3em;
  margin-right: 1em;
  vertical-align: middle; }
#course .japanese .detail .headBox h1, #course .japanese .detail .headBox .sub {
  color: #9e8b5b; }
#course .japanese .detail .detailBox table th {
  color: #9e8b5b;
  width: 70px !important; }
#course .japanese .detail .detailBox .mainImg {
  border: 1px #9e8b5b solid; }
#course .japanese #secondary {
  background-image: url(../img/common/bg-side-ja.jpg);
  background-size: 640px 1160px;
  background-position: left top; }
#course .french .detail .headBox h1:before {
  content: "洋";
  font-size: 35%;
  background: #003658;
  color: #fff;
  padding: 0.2em 0.3em;
  margin-right: 1em;
  vertical-align: middle; }
#course .french .detail .headBox h1, #course .french .detail .headBox .sub {
  color: #003658; }
#course .french .detail .detailBox table th {
  color: #003658;
  width: 80px !important; }
#course .french .detail .detailBox .mainImg {
  border: 1px #003658 solid; }
#course .french #secondary {
  background-image: url(../img/common/bg-side-fr.jpg);
  background-size: 640px 1160px;
  background-position: left top; }
#course .chinese .detail .headBox h1:before {
  content: "中";
  font-size: 35%;
  background: #a54122;
  color: #fff;
  padding: 0.2em 0.3em;
  margin-right: 1em;
  vertical-align: middle; }
#course .chinese .detail .headBox h1, #course .chinese .detail .headBox .sub {
  color: #a54122; }
#course .chinese .detail .detailBox table th {
  color: #a54122;
  width: 50px !important; }
#course .chinese .detail .detailBox .mainImg {
  border: 1px #a54122 solid; }
#course .chinese #secondary {
  background-image: url(../img/common/bg-side-ch.jpg);
  background-size: 640px 1160px;
  background-position: left top; }

/*=3 select
-------------------------------------------------------------*/
#select #flipform {
  width: 90%;
  margin: 0 auto;
  overflow: hidden; }
  #select #flipform .detail {
    float: left;
    width: 100%;
    opacity: 0; }
#select .detail {
  width: 100%;
  margin: 0;
  position: relative; }
  #select .detail .headBox {
    overflow: hidden;
    *zoom: 1;
    line-height: 340%;
    -webkit-box-shadow: 0 7px 6px -6px #b5b5b5;
    -moz-box-shadow: 0 7px 6px -6px #b5b5b5;
    box-shadow: 0 7px 6px -6px #b5b5b5;
    padding-bottom: 15px;
    margin-bottom: 25px; }
    #select .detail .headBox h1 {
      font-size: 340%;
      float: left; }
  #select .detail .totalPrice {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 190%;
    line-height: 1; }
    #select .detail .totalPrice .tax {
      font-size: 55%; }
  #select .detail .selectBox {
    margin-bottom: 25px; }
    #select .detail .selectBox .menu {
      overflow: hidden;
      *zoom: 1;
      margin-bottom: 10px; }
      #select .detail .selectBox .menu .button, #select .detail .selectBox .menu .thumbnail {
        margin-right: 20px; }
      #select .detail .selectBox .menu .button {
        height: 70px;
        float: left;
        line-height: 70px; }
      #select .detail .selectBox .menu .thumbnail {
        float: left; }
        #select .detail .selectBox .menu .thumbnail img {
          width: 70px;
          height: 70px; }
      #select .detail .selectBox .menu dl {
        float: left; }
        #select .detail .selectBox .menu dl dt {
          font-size: 130%;
          margin-bottom: 0.5em; }
          #select .detail .selectBox .menu dl dt .icon {
            margin-right: 1em;
            color: #fff;
            padding: 0.2em 0.3em; }
          #select .detail .selectBox .menu dl dt .ja {
            background: #9e8b5b; }
          #select .detail .selectBox .menu dl dt .fr {
            background: #003658; }
          #select .detail .selectBox .menu dl dt .ch {
            background: #a54122; }
          #select .detail .selectBox .menu dl dt .plus {
            font-size: 80%;
            margin-left: 0.7em; }
        #select .detail .selectBox .menu dl dd {
          padding-left: 38px; }
#select #chefBox {
  width: 90%;
  margin: 0 auto;
  overflow: hidden; }
  #select #chefBox .detail {
    width: 100%;
    margin: 0;
    position: relative; }
    #select #chefBox .detail .headBox {
      overflow: hidden;
      *zoom: 1;
      line-height: 340%;
      -webkit-box-shadow: 0 7px 6px -6px #b5b5b5;
      -moz-box-shadow: 0 7px 6px -6px #b5b5b5;
      box-shadow: 0 7px 6px -6px #b5b5b5;
      padding-bottom: 15px;
      margin-bottom: 25px; }
      #select #chefBox .detail .headBox h1 {
        font-size: 340%;
        float: left;
        margin-right: 0.5em; }
      #select #chefBox .detail .headBox .sub {
        font-size: 130%; }
    #select #chefBox .detail .price {
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 190%;
      line-height: 1; }
      #select #chefBox .detail .price .tax {
        font-size: 55%; }
    #select #chefBox .detail .detailBox {
      overflow: hidden;
      *zoom: 1;
      margin-bottom: 25px; }
      #select #chefBox .detail .detailBox a {
        color: #282828; }
      #select #chefBox .detail .detailBox table {
        float: left;
        width: 540px; }
        #select #chefBox .detail .detailBox table .num {
          text-align: center; }
        #select #chefBox .detail .detailBox table th, #select #chefBox .detail .detailBox table td {
          padding: 5px 10px 5px 0; }
        #select #chefBox .detail .detailBox table .attention {
          font-size: 90%; }
        #select #chefBox .detail .detailBox table .icon {
          margin-right: 1em;
          color: #fff;
          padding: 0.2em 0.3em; }
        #select #chefBox .detail .detailBox table .ja {
          background: #9e8b5b; }
        #select #chefBox .detail .detailBox table .fr {
          background: #003658; }
        #select #chefBox .detail .detailBox table .ch {
          background: #a54122; }
      #select #chefBox .detail .detailBox .mainImg {
        float: right; }
    #select #chefBox .detail .thumbnail {
      margin-bottom: 40px; }
      #select #chefBox .detail .thumbnail ul {
        text-align: center; }
        #select #chefBox .detail .thumbnail ul li {
          display: inline; }
          #select #chefBox .detail .thumbnail ul li a img {
            margin: 2px; }
#select #primary {
  position: relative; }
  #select #primary .alert {
    position: absolute;
    top: 105px;
    left: 42px;
    padding: 3px 20px;
    width: auto;
    text-align: center;
    line-height: 20px;
    background-color: #fff;
    border: 1px solid #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    #select #primary .alert:before, #select #primary .alert:after {
      content: '';
      position: absolute;
      border-top: 7px solid;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      left: 10px; }
    #select #primary .alert:before {
      border-top-color: #000;
      bottom: -8px; }
    #select #primary .alert:after {
      border-top-color: #fff;
      bottom: -7px; }
    #select #primary .alert.alert-error {
      border-color: #a54122;
      color: #a54122; }
      #select #primary .alert.alert-error:before {
        border-top-color: #a54122; }
#select #secondary {
  color: #fff;
  text-align: center;
  background-image: url(../img/common/bg-side.jpg);
  background-size: 640px 1160px;
  background-position: left top; }
  #select #secondary h2 {
    font-size: 130%; }
  #select #secondary a {
    color: #fff; }
  #select #secondary #lineup li {
    padding: 1em 0;
    cursor: pointer; }
    #select #secondary #lineup li a {
      padding: 0; }
  #select #secondary .btn_popupImg {
    position: absolute;
    bottom: 150px;
    width: 100%; }
    #select #secondary .btn_popupImg a {
      display: block;
      width: 70%;
      margin: 0 auto 10px;
      padding: 0.8em 0;
      border-radius: 3px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      background: #c4a51e;
      border: 2px #ccae2b solid;
      box-sizing: border-box; }
      #select #secondary .btn_popupImg a:active {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transform: translate(0, 1px);
        transform: translate(10px); }

/*=4 confirm-select
-------------------------------------------------------------*/
#select #confirm .inner {
  width: 80%;
  margin: 0 auto; }
#select #confirm header {
  overflow: hidden;
  *zoom: 1;
  color: #fff;
  margin-bottom: 30px;
  padding: 30px 0;
  background-image: url(../img/common/bg-side.jpg);
  background-size: 640px 1160px;
  background-position: left top; }
  #select #confirm header .select-logo {
    float: left;
    margin-right: 20px; }
    #select #confirm header .select-logo img {
      width: 115px; }
  #select #confirm header p {
    font-size: 180%; }
#select #confirm #menu-list {
  height: 420px;
  margin-bottom: 30px; }
  #select #confirm #menu-list a {
    color: #282828; }
  #select #confirm #menu-list .thumbnail a.popup {
    display: block;
    width: 70px; }
  #select #confirm #menu-list table {
    width: 100%; }
    #select #confirm #menu-list table th, #select #confirm #menu-list table td {
      padding-right: 20px;
      padding-bottom: 20px; }
    #select #confirm #menu-list table th, #select #confirm #menu-list table .text {
      vertical-align: top; }
    #select #confirm #menu-list table th img {
      width: 70px;
      height: 70px; }
    #select #confirm #menu-list table .text span {
      font-size: 120%; }
    #select #confirm #menu-list table .text .icon {
      margin-right: 1em;
      color: #fff;
      padding: 0.2em 0.3em;
      font-size: 100%; }
    #select #confirm #menu-list table .text .ja {
      background: #9e8b5b; }
    #select #confirm #menu-list table .text .fr {
      background: #003658; }
    #select #confirm #menu-list table .text .ch {
      background: #a54122; }
    #select #confirm #menu-list table .text .plus {
      font-size: 90%;
      margin-left: 0.7em; }
    #select #confirm #menu-list table .price, #select #confirm #menu-list table .button {
      padding-right: 0;
      width: 70px; }
    #select #confirm #menu-list table .price {
      text-align: right;
      vertical-align: bottom; }
    #select #confirm #menu-list table .button {
      text-align: center; }
    #select #confirm #menu-list table .change {
      display: inline-block;
      background: #a9a9a9;
      margin: 0 5px;
      text-align: center;
      width: 40px;
      height: 20px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
      #select #confirm #menu-list table .change:active {
        -webkit-transform: translate(0, 1px);
        -moz-transform: translate(0, 1px);
        transform: translate(0, 1px);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
      #select #confirm #menu-list table .change a {
        display: block;
        height: 20px;
        line-height: 20px;
        color: #fff;
        -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }
        #select #confirm #menu-list table .change a:active {
          background: #9a9a9a; }
#select #confirm .total {
  text-align: center;
  font-size: 150%;
  color: #fff;
  background: #d87676;
  margin-bottom: 30px;
  padding: 0.5em 0; }

/*=5 confirm-course
-------------------------------------------------------------*/
#course #confirm .inner {
  width: 80%;
  margin: 0 auto; }
#course #confirm header {
  overflow: hidden;
  *zoom: 1;
  color: #fff;
  margin-bottom: 30px;
  padding: 30px 0;
  background-image: url(../img/common/bg-topCourse.png);
  background-size: 600px 426px;
  background-position: left top; }
  #course #confirm header .course-logo {
    float: left;
    margin-right: 20px; }
    #course #confirm header .course-logo img {
      width: 115px; }
  #course #confirm header p {
    font-size: 180%; }
#course #confirm #menu-list {
  height: 420px;
  margin-bottom: 30px; }
  #course #confirm #menu-list a {
    color: #282828; }
  #course #confirm #menu-list .thumbnail a.popup {
    display: block;
    width: 70px; }
  #course #confirm #menu-list table {
    width: 100%; }
    #course #confirm #menu-list table th, #course #confirm #menu-list table td {
      padding-right: 20px;
      padding-bottom: 20px; }
    #course #confirm #menu-list table th, #course #confirm #menu-list table .text {
      vertical-align: top; }
    #course #confirm #menu-list table th img {
      width: 70px;
      height: 70px; }
    #course #confirm #menu-list table .text span {
      font-size: 120%; }
    #course #confirm #menu-list table .text .icon {
      padding-right: 0.8em;
      font-size: 90%; }
    #course #confirm #menu-list table .text .ja {
      color: #9e8b5b; }
    #course #confirm #menu-list table .text .fr {
      color: #003658; }
    #course #confirm #menu-list table .text .ch {
      color: #a54122; }
    #course #confirm #menu-list table .price {
      vertical-align: bottom; }
    #course #confirm #menu-list table .change {
      display: block;
      background: #a9a9a9;
      margin: 0 5px;
      text-align: center;
      width: 40px;
      height: 20px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
      #course #confirm #menu-list table .change:active {
        -webkit-transform: translate(0, 1px);
        transform: translate(10px); }
      #course #confirm #menu-list table .change a {
        display: block;
        height: 20px;
        line-height: 20px;
        color: #fff;
        -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }
        #course #confirm #menu-list table .change a:active {
          background: #9a9a9a;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px; }
#course #confirm .total {
  text-align: center;
  font-size: 150%;
  color: #fff;
  background: #d87676;
  margin-bottom: 30px;
  padding: 0.5em 0; }

/*=5 thanks
-------------------------------------------------------------*/
#thanks {
  text-align: center; }
  #thanks #container {
    width: 80%;
    margin: 0 auto; }
    #thanks #container h1 {
      padding-top: 15%;
      font-size: 250%;
      margin-bottom: 10px; }
    #thanks #container #text, #thanks #container .buttons {
      margin-bottom: 30px; }

/*=6 gallery
-------------------------------------------------------------*/
.gallery .gallery-wrap {
  height: 100%; }
  .gallery .gallery-wrap .viewport {
    width: 680px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transform: translateZ(0);
    /* Optional: When heavy at iOS6+ */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    box-align: center; }
    .gallery .gallery-wrap .viewport .flipsnap .item {
      float: left;
      text-align: center;
      position: relative; }
      .gallery .gallery-wrap .viewport .flipsnap .item .icon {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 140%; }
      .gallery .gallery-wrap .viewport .flipsnap .item .plus {
        position: absolute;
        bottom: 50px;
        right: 20px;
        background: #d87676; }
        .gallery .gallery-wrap .viewport .flipsnap .item .plus p {
          margin-top: 0;
          padding: 0.7em 1em; }
      .gallery .gallery-wrap .viewport .flipsnap .item .type {
        position: absolute;
        top: 20px;
        left: 20px; }
        .gallery .gallery-wrap .viewport .flipsnap .item .type p {
          background: #9e8b5b;
          margin-top: 0;
          padding: 0.5em 1em; }
      .gallery .gallery-wrap .viewport .flipsnap .item .ja {
        background: #9e8b5b;
        color: #fff;
        padding: 0.2em 0.5em; }
      .gallery .gallery-wrap .viewport .flipsnap .item .fr {
        background: #003658;
        color: #fff;
        padding: 0.2em 0.5em; }
      .gallery .gallery-wrap .viewport .flipsnap .item .ch {
        background: #a54122;
        color: #fff;
        padding: 0.2em 0.5em; }
      .gallery .gallery-wrap .viewport .flipsnap .item p {
        font-size: 120%;
        margin-top: 1em;
        color: #fff; }

/*=7 auth
-------------------------------------------------------------*/
#auth #wrapper #container {
  text-align: center;
  width: 80%;
  margin: 0 auto; }
  #auth #wrapper #container .authBox {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -66px 0 0 -115px; }
    #auth #wrapper #container .authBox .input {
      position: relative; }
      #auth #wrapper #container .authBox .input .alert {
        position: absolute;
        top: -24px;
        width: 228px;
        line-height: 20px;
        background-color: #fff;
        border: 1px solid #000;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }
        #auth #wrapper #container .authBox .input .alert:before, #auth #wrapper #container .authBox .input .alert:after {
          content: '';
          position: absolute;
          border-top: 7px solid;
          border-right: 7px solid transparent;
          border-left: 7px solid transparent;
          left: 10px; }
        #auth #wrapper #container .authBox .input .alert:before {
          border-top-color: #000;
          bottom: -8px; }
        #auth #wrapper #container .authBox .input .alert:after {
          border-top-color: #fff;
          bottom: -7px; }
        #auth #wrapper #container .authBox .input .alert.alert-error {
          border-color: #a54122;
          color: #a54122; }
          #auth #wrapper #container .authBox .input .alert.alert-error:before {
            border-top-color: #a54122; }
      #auth #wrapper #container .authBox .input .id {
        width: 210px;
        margin-bottom: 5px;
        padding: 7px 9px 9px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
        font-size: 18px; }
    #auth #wrapper #container .authBox .button {
      margin-bottom: 30px;
      width: 230px;
      height: 40px;
      background: #53ad86;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      font-family: 'ヒラギノ明朝 Pro W6','Hiragino Mincho Pro','ＭＳ Ｐ明朝',serif;
      text-align: center; }
      #auth #wrapper #container .authBox .button input[type=submit] {
        margin: 0;
        padding: 0;
        width: 100%;
        line-height: 40px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: left center;
        border: none;
        color: #fff;
        font-size: 130%; }
      #auth #wrapper #container .authBox .button:active {
        background: #3f946f;
        -webkit-transform: translate(0, 1px);
        transform: translate(10px);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }

@media screen and (max-width: 1023px) {
  #course .detail .detailBox table {
    width: 60%; } }
