@charset "UTF-8";
/*------------------------------------------------------------*/
/*目次　INDEX
	=0 global
	=1 heading
	=2 basic structure
	=3 navigation
	=4 commonClass,commonID
	=5 boxDesign
	=9 clearfix

search key "="+"n"

//last update 2012/01/09

-------------------------------------------------------------
base color
-------------------------------------------------------------
-------------------------------------------------------------*/

$gold:  #9e8b5b;
$blue:  #003658;
$red:   #a54122;
$green: #53ad86;

/*=0 global
-------------------------------------------------------------*/
html,body {
	height: 100%;
}
body {
	font-size:72%;
	font-family: 'ヒラギノ明朝 Pro W6','Hiragino Mincho Pro','ＭＳ Ｐ明朝',serif;
	line-height:1.5;
	color: #282828;
}
img {
	vertical-align: bottom;
}
a {
	text-decoration: none;
}
.mask {
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	min-height: 100%;
	background-color: #fff;
	text-align: center;
	.loader {
		height: 60px;
		vertical-align: middle;
		opacity: 0;
		p {
			margin-top: 10px;
			line-height: 18px;
		}
		img {
			width: 32px;
			height: 32px;
		}
	}
}

/*=1 heading
-------------------------------------------------------------*/

/*=2 basic structure
-------------------------------------------------------------*/
#wrapper {
	height: 100%;
	background: url(../img/common/bg.png);
}
#container {
	height: 100%;
	@include clearfix;
}
#primary {
	width: 83%;
	float: right;
	padding-top: 60px;
}
#secondary {
	position: relative;
	width: 17.2%;
	height: 100%;
	padding-top: 40px;
	-webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	   -moz-text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	        text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	ul {
		margin-top: 40px;
		border-top: 1px rgba(50,50,50,0.2) solid;
		border-bottom: 1px rgba(255,255,255,0.2) solid;
		li {
			border-top: 1px rgba(255,255,255,0.2) solid;
			border-bottom: 1px rgba(50,50,50,0.2) solid;
			a {
				display: block;
				padding: 1em 0;
				&:active {
					background-color: rgba(50,50,50,0.3);
				}
			}
		}
	}
	.btn-confirm {
		border: 1px rgba(255,255,255,0.2) solid;
		width: 55%;
		margin: 30px auto 0;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
		        border-radius: 3px;
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
		   -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
		        box-shadow: 0 1px 0 rgba(0,0,0,0.2);
		&:active {
			-webkit-box-shadow: none;
			   -moz-box-shadow: none;
			        box-shadow: none;
			-webkit-transform: translate(0, 1px);
			        transform: translate(10px);
		}
		a {
			display: block;
			padding: 0.8em 0;
			&:active {
				background-color: rgba(50,50,50,0.1);
			}
		}
	}
	.logo {
		position: absolute;
		left: 50%;
		bottom: 100px;
		margin-left: -42px;
	}
}

/*=3 navigation
-------------------------------------------------------------*/

/*=4 common
-------------------------------------------------------------*/
.buttons {
	text-align: center;
	.button {
		display: inline-block;
		margin: 0 5px 10px 5px;
		width: 210px;
		height: 50px;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
		        border-radius: 3px;
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
		   -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
		        box-shadow: 0 1px 0 rgba(0,0,0,0.2);
		text-align: center;
		&:active {
			-webkit-box-shadow: none;
			   -moz-box-shadow: none;
			        box-shadow: none;
			-webkit-transform: translate(0, 1px);
			        transform: translate(10px);
		}
		a {
			display: block;
			height: 50px;
			line-height: 50px;
			color: #fff;
			font-size: 130%;
			-webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
			   -moz-text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
			        text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
		}
	}
	.back {
		background: #a9a9a9;
		a {
			span {
				background-image: url(../img/common/icon-back.png);
				background-repeat: no-repeat;
				background-position: left center;
				background-size: 18px 11px;
				padding-left: 24px;
			}
		}
		&:active {
			background: #9a9a9a;
		}
	}
	.back2 {
		background: #e68652;
		a {
			span {
				background-image: url(../img/common/icon-back2.png);
				background-repeat: no-repeat;
				background-position: left center;
				background-size: 13px 16px;
				padding-left: 20px;
			}
		}
		&:active {
			background: #d86527;
		}
	}
	.next {
		background: #a9a9a9;
		a {
			span {
				background-image: url(../img/common/icon-next.png);
				background-repeat: no-repeat;
				background-position: left center;
				background-size: 18px 11px;
				padding-left: 24px;
			}
		}
		&:active {
			background: #9a9a9a;
		}
	}
	.select {
		background: #53ad86;
		span, input[type=submit] {
			background-image: url(../img/common/icon-select.png);
			background-repeat: no-repeat;
			background-position: left center;
			background-size: 20px 13px;
			padding-left: 24px;
		}
		input[type=submit] {
			border: none;
			background-color: transparent;
			padding: 0 0 0 24px;
			height: 50px;
			line-height: 50px;
			color: #fff;
			font-size: 130%;
			font-family: 'ヒラギノ明朝 Pro W6','Hiragino Mincho Pro','ＭＳ Ｐ明朝',serif;
			cursor: pointer;
		}
		&:active {
			background: #3f946f;
		}
	}
	.notice {
		padding-bottom: 10px;
	}
}
.homeBtn {
	position: fixed;
	bottom: 2%;
	right: 2%;
}
.hide {
	display: none;
}
.homeBtn {
	a {
		display: block;
		width: 42px;
		height: 42px;
	}
}