@charset "UTF-8";
/*------------------------------------------------------------*/

/*=1 top
-------------------------------------------------------------*/
#top {
	position: relative;
	@include clearfix;
	#course {
		height: 100%;
		width: 50%;
		background-image: url(../img/common/bg-topCourse.png);
		background-size: 600px 426px;
		float: left;
		position: relative;
		div {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -112px;
			margin-top: -65px;
			a {
				display: block;
			}
		}
	}
	#select {
		height: 100%;
		width: 50%;
		background-image: url(../img/common/bg-topChoice.png);
		background-size: 600px 426px;
		float: right;
		position: relative;
		div {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -112px;
			margin-top: -65px;
			a {
				display: block;
			}
		}
	}
	.unauth {
		display: block;
		position: absolute;
		right: 10px;
		bottom: 5px;
		font-size: 260%;
		font-weight: bold;
		color: rgba(255,255,255,.1);
	}
}

/*=2 course
-------------------------------------------------------------*/
#course {
	.course-top {
		background-image: url(../img/common/bg-side-ch.jpg);
		position: relative;
		.block {
			width: -webkit-calc(100% / 3);
			width:    -moz-calc(100% / 3);
			width:         calc(100% / 3);
			float: left;
			height: 100%;
			text-align: center;
			position: relative;
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
			p {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -1em;
				margin-left: -2em;
				color: #fff;
				font-size: 280%;
				.en {
					font-size: 50%;
				}
			}
		}
		#ja {
			background-image: url(../img/common/bg-ja.jpg);
			background-size: cover;
			background-position: left top;
		}
		#fr {
			background-image: url(../img/common/bg-fr.jpg);
			background-size: cover;
			background-position: left top;
		}
		#ch {
			background-image: url(../img/common/bg-ch.jpg);
			background-size: cover;
			background-position: left top;
		}
		.logo {
			position: absolute;
			bottom: 30px;
			left: 50%;
			margin-left: -43px;
		}
	}
	#flipform {
		width: 90%;
		margin: 0 auto;
		overflow: hidden;
		.detail {
			float: left;
			width: 100%;
			opacity: 0;
		}
	}
	.detail {
		width: 100%;
		margin: 0;
		position: relative;
		.headBox {
			@include clearfix;
			line-height: 340%;
			-webkit-box-shadow: 0 7px 6px -6px #b5b5b5;
			   -moz-box-shadow: 0 7px 6px -6px #b5b5b5;
			        box-shadow: 0 7px 6px -6px #b5b5b5;
			padding-bottom: 15px;
			margin-bottom: 25px;
			h1 {
				font-size: 340%;
				float: left;
				margin-right: 0.5em;
			}
			.sub {
				font-size: 130%;
			}
		}
		.price {
			text-align: right;
			position: absolute;
			top: 0;
			right: 0;
			font-size: 190%;
			line-height: 1;
			.tax {
				font-size: 55%;
			}
		}
		.detailBox {
			@include clearfix;
			margin-bottom: 25px;
			a {
				color: #282828;
			}
			table {
				float: left;
				width: 540px;
				.num {
					text-align: center;
				}
				th,td {
					padding: 5px 10px 5px 0;
				}
				.attention {
					font-size: 90%;
				}
			}
			.mainImg {
				float: right;
			}
		}
		.thumbnail {
			margin-bottom: 40px;
			ul {
				text-align: center;
				li {
					display: inline;
					a {
						img {
							margin: 2px;
						}
					}
				}
			}
		}
	}
	#secondary {
		color: #fff;
		text-align: center;
		h2 {
			font-size: 130%;
		}
		a {
			color: #fff;
		}
		#lineup {
			li {
				padding: 1em 0;
				cursor: pointer;
			}
		}
		.courseNav, .btn_popupImg {
			position: absolute;
			width: 100%;
			.button-ja {
				a {
					background-image: url(../img/common/bg-side-ja.jpg);
					background-size: 640px 1160px;
					background-position: left top;
				}
			}
			.button-fr {
				a {
					background-image: url(../img/common/bg-side-fr.jpg);
					background-size: 640px 1160px;
					background-position: left top;
				}
			}
			.button-ch {
				a {
					background-image: url(../img/common/bg-side-ch.jpg);
					background-size: 640px 1160px;
					background-position: left top;
				}
			}
			a {
				display: block;
				width: 70%;
				margin: 0 auto 10px;
				padding: 0.8em 0;
				border-radius: 3px;
				box-shadow: 0 1px 0 rgba(0,0,0,0.2);
				border: 1px rgba(255,255,255,0.2) solid;
				&:active {
					-webkit-box-shadow: none;
					   -moz-box-shadow: none;
					        box-shadow: none;
					-webkit-transform: translate(0, 1px);
					        transform: translate(10px);
				}
			}
		}
		.courseNav {
			bottom: 250px;
		}
		.btn_popupImg {
			bottom: 150px;
			.okosama a {
				background: #c4a51e;
				border: 2px #ccae2b solid;
				box-sizing: border-box;
			}
		}
	}
	.japanese {
		.detail {
			.headBox {
				h1 {
					&:before {
						content: "和";
						font-size: 35%;
						background: $gold;
						color: #fff;
						padding: 0.2em 0.3em;
						margin-right: 1em;
						vertical-align: middle;
					}
				}
				h1,.sub {
					color: $gold;
				}
			}
			.detailBox {
				table {
					th {
						color: $gold;
						width: 70px !important;
					}
				}
				.mainImg {
					border: 1px $gold solid;
				}
			}
		}
		#secondary {
			background-image: url(../img/common/bg-side-ja.jpg);
			background-size: 640px 1160px;
			background-position: left top;
		}
	}
	.french {
		.detail {
			.headBox {
				h1 {
					&:before {
						content: "洋";
						font-size: 35%;
						background: $blue;
						color: #fff;
						padding: 0.2em 0.3em;
						margin-right: 1em;
						vertical-align: middle;
					}
				}
				h1,.sub {
					color: $blue;
				}
			}
			.detailBox {
				table {
					th {
						color: $blue;
						width: 80px !important;
					}
				}
				.mainImg {
					border: 1px $blue solid;
				}
			}
		}
		#secondary {
			background-image: url(../img/common/bg-side-fr.jpg);
			background-size: 640px 1160px;
			background-position: left top;
		}
	}
	.chinese {
		.detail {
			.headBox {
				h1 {
					&:before {
						content: "中";
						font-size: 35%;
						background: $red;
						color: #fff;
						padding: 0.2em 0.3em;
						margin-right: 1em;
						vertical-align: middle;
					}
				}
				h1,.sub {
					color: $red;
				}
			}
			.detailBox {
				table {
					th {
						color: $red;
						width: 50px !important;
					}
				}
				.mainImg {
					border: 1px $red solid;
				}
			}
		}
		#secondary {
			background-image: url(../img/common/bg-side-ch.jpg);
			background-size: 640px 1160px;
			background-position: left top;
		}
	}
}

/*=3 select
-------------------------------------------------------------*/
#select {
	#flipform {
		width: 90%;
		margin: 0 auto;
		overflow: hidden;
		.detail {
			float: left;
			width: 100%;
			opacity: 0;
		}
	}
	.detail {
		width: 100%;
		margin: 0;
		position: relative;
		.headBox {
			@include clearfix;
			line-height: 340%;
			-webkit-box-shadow: 0 7px 6px -6px #b5b5b5;
			   -moz-box-shadow: 0 7px 6px -6px #b5b5b5;
			        box-shadow: 0 7px 6px -6px #b5b5b5;
			padding-bottom: 15px;
			margin-bottom: 25px;
			h1 {
				font-size: 340%;
				float: left;
			}
		}
		.totalPrice {
			text-align: right;
			position: absolute;
			top: 0;
			right: 0;
			font-size: 190%;
			line-height: 1;
			.tax {
				font-size: 55%;
			}
		}
		.selectBox {
			margin-bottom: 25px;
			.menu {
				@include clearfix;
				margin-bottom: 10px;
				.button,.thumbnail {
					margin-right: 20px;
				}
				.button {
					height: 70px;
					float: left;
					line-height: 70px;
				}
				.thumbnail {
					float: left;
					img {
						width: 70px;
						height: 70px;
					}
				}
				dl {
					float: left;
					dt {
						font-size: 130%;
						margin-bottom: 0.5em;
						.icon {
							margin-right: 1em;
							color: #fff;
							padding: 0.2em 0.3em;
						}
						.ja {
							background: $gold;
						}
						.fr {
							background: $blue;
						}
						.ch {
							background: $red;
						}
						.plus {
							font-size: 80%;
							margin-left: 0.7em;
						}
					}
					dd {
						padding-left: 38px;
					}
				}
			}
		}
	}
	#chefBox {
		width: 90%;
		margin: 0 auto;
		overflow: hidden;
		.detail {
			width: 100%;
			margin: 0;
			position: relative;
			.headBox {
				@include clearfix;
				line-height: 340%;
				-webkit-box-shadow: 0 7px 6px -6px #b5b5b5;
				   -moz-box-shadow: 0 7px 6px -6px #b5b5b5;
				        box-shadow: 0 7px 6px -6px #b5b5b5;
				padding-bottom: 15px;
				margin-bottom: 25px;
				h1 {
					font-size: 340%;
					float: left;
					margin-right: 0.5em;
				}
				.sub {
					font-size: 130%;
				}
			}
			.price {
				text-align: right;
				position: absolute;
				top: 0;
				right: 0;
				font-size: 190%;
				line-height: 1;
				.tax {
					font-size: 55%;
				}
			}
			.detailBox {
				@include clearfix;
				margin-bottom: 25px;
				a {
					color: #282828;
				}
				table {
					float: left;
					width: 540px;
					.num {
						text-align: center;
					}
					th,td {
						padding: 5px 10px 5px 0;
					}
					.attention {
						font-size: 90%;
					}
					.icon {
						margin-right: 1em;
						color: #fff;
						padding: 0.2em 0.3em;
					}
					.ja {
						background: $gold;
					}
					.fr {
						background: $blue;
					}
					.ch {
						background: $red;
					}
				}
				.mainImg {
					float: right;
				}
			}
			.thumbnail {
				margin-bottom: 40px;
				ul {
					text-align: center;
					li {
						display: inline;
						a {
							img {
								margin: 2px;
							}
						}
					}
				}
			}
		}
	}
	#primary {
		position: relative;
		.alert {
			position: absolute;
			top: 105px;
			left: 42px;
			padding: 3px 20px;
			width: auto;
			text-align: center;
			line-height: 20px;
			background-color: #fff;
			border: 1px solid #000;
			-webkit-border-radius: 4px;
			   -moz-border-radius: 4px;
			        border-radius: 4px;
			&:before, &:after {
				content: '';
				position: absolute;
				border-top: 7px solid;
				border-right: 7px solid transparent;
				border-left: 7px solid transparent;
				left: 10px;
			}
			&:before {
				border-top-color: #000;
				bottom: -8px;
			}
			&:after {
				border-top-color: #fff;
				bottom: -7px;
			}
			&.alert-error {
				border-color: $red;
				color: $red;
				&:before {
					border-top-color: $red;
				}
			}
		}
	}
	#secondary {
		color: #fff;
		text-align: center;
		background-image: url(../img/common/bg-side.jpg);
		background-size: 640px 1160px;
		background-position: left top;
		h2 {
			font-size: 130%;
		}
		a {
			color: #fff;
		}
		#lineup {
			li {
				padding: 1em 0;
				cursor: pointer;
				a {
					padding: 0;
				}
			}
		}
		.btn_popupImg {
			position: absolute;
			bottom: 150px;
			width: 100%;
			a {
				display: block;
				width: 70%;
				margin: 0 auto 10px;
				padding: 0.8em 0;
				border-radius: 3px;
				box-shadow: 0 1px 0 rgba(0,0,0,0.2);
				background: #c4a51e;
				border: 2px #ccae2b solid;
				box-sizing: border-box;
				&:active {
					-webkit-box-shadow: none;
					   -moz-box-shadow: none;
					        box-shadow: none;
					-webkit-transform: translate(0, 1px);
					        transform: translate(10px);
				}
			}
		}
	}
}

/*=4 confirm-select
-------------------------------------------------------------*/
#select {
	#confirm {
		.inner {
			width: 80%;
			margin: 0 auto;
		}
		header {
			@include clearfix;
			color: #fff;
			margin-bottom: 30px;
			padding: 30px 0;
			background-image: url(../img/common/bg-side.jpg);
			background-size: 640px 1160px;
			background-position: left top;
			.select-logo {
				float: left;
				margin-right: 20px;
				img {
					width: 115px;
				}
			}
			p {
				font-size: 180%;
			}
		}
		#menu-list {
			a {
				color: #282828;
			}
			.thumbnail {
				a.popup {
					display: block;
					width: 70px;
				}
			}
			height: 420px;
			margin-bottom: 30px;
			table {
				width: 100%;
				th,td {
					padding-right: 20px;
					padding-bottom: 20px;
				}
				th, .text {
					vertical-align: top;
				}
				th {
					img {
						width: 70px;
						height: 70px;
					}
				}
				.text {
					span {
						font-size: 120%;
					}
					.icon {
						margin-right: 1em;
						color: #fff;
						padding: 0.2em 0.3em;
						font-size: 100%;
					}
					.ja {
						background: $gold;
					}
					.fr {
						background: $blue;
					}
					.ch {
						background: $red;
					}
					.plus {
						font-size: 90%;
						margin-left: 0.7em;
					}
				}
				.price, .button {
					padding-right: 0;
					width: 70px;
				}
				.price {
					text-align: right;
					vertical-align: bottom;
				}
				.button {
					text-align: center;
				}
				.change {
					display: inline-block;
					background: #a9a9a9;
					margin: 0 5px;
					text-align: center;
					width: 40px;
					height: 20px;
					-webkit-border-radius: 3px;
					   -moz-border-radius: 3px;
					        border-radius: 3px;
					-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
					   -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
					        box-shadow: 0 1px 0 rgba(0,0,0,0.2);
					&:active {
						-webkit-transform: translate(0, 1px);
						   -moz-transform: translate(0, 1px);
						        transform: translate(0, 1px);
						-webkit-box-shadow: none;
						   -moz-box-shadow: none;
						        box-shadow: none;
					}
					a {
						display: block;
						height: 20px;
						line-height: 20px;
						color: #fff;
						-webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
						   -moz-text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
						        text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
						-webkit-border-radius: 3px;
						   -moz-border-radius: 3px;
						        border-radius: 3px;
						&:active {
							background: #9a9a9a;
						}
					}
				}
			}
		}
		.total {
			text-align: center;
			font-size: 150%;
			color: #fff;
			background: #d87676;
			margin-bottom: 30px;
			padding: 0.5em 0;
		}
	}
}

/*=5 confirm-course
-------------------------------------------------------------*/
#course {
	#confirm {
		.inner {
			width: 80%;
			margin: 0 auto;
		}
		header {
			@include clearfix;
			color: #fff;
			margin-bottom: 30px;
			padding: 30px 0;
			background-image: url(../img/common/bg-topCourse.png);
			background-size: 600px 426px;
			background-position: left top;
			.course-logo {
				float: left;
				margin-right: 20px;
				img {
					width: 115px;
				}
			}
			p {
				font-size: 180%;
			}
		}
		#menu-list {
			a {
				color: #282828;
			}
			.thumbnail {
				a.popup {
					display: block;
					width: 70px;
				}
			}
			height: 420px;
			margin-bottom: 30px;
			table {
				width: 100%;
				th,td {
					padding-right: 20px;
					padding-bottom: 20px;
				}
				th, .text {
					vertical-align: top;
				}
				th {
					img {
						width: 70px;
						height: 70px;
					}
				}
				.text {
					span {
						font-size: 120%;
					}
					.icon {
						padding-right: 0.8em;
						font-size: 90%;
					}
					.ja {
						color: $gold;
					}
					.fr {
						color: $blue;
					}
					.ch {
						color: $red;
					}
				}
				.price {
					vertical-align: bottom;
				}
				.change {
					display: block;
					background: #a9a9a9;
					margin: 0 5px;
					text-align: center;
					width: 40px;
					height: 20px;
					-webkit-border-radius: 3px;
					   -moz-border-radius: 3px;
					        border-radius: 3px;
					-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
					   -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
					        box-shadow: 0 1px 0 rgba(0,0,0,0.2);
					&:active {
						-webkit-transform: translate(0, 1px);
						        transform: translate(10px);
					}
					a {
						display: block;
						height: 20px;
						line-height: 20px;
						color: #fff;
						-webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
						   -moz-text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
						        text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
						-webkit-border-radius: 3px;
						   -moz-border-radius: 3px;
						        border-radius: 3px;
						&:active {
							background: #9a9a9a;
							-webkit-border-radius: 3px;
							   -moz-border-radius: 3px;
							        border-radius: 3px;
						}
					}
				}
			}
		}
		.total {
			text-align: center;
			font-size: 150%;
			color: #fff;
			background: #d87676;
			margin-bottom: 30px;
			padding: 0.5em 0;
		}
	}
}

/*=5 thanks
-------------------------------------------------------------*/
#thanks {
	text-align: center;
	#container {
		width: 80%;
		margin: 0 auto;

		h1 {
			padding-top: 15%;
			font-size: 250%;
			margin-bottom: 10px;
		}
		#text, .buttons {
			margin-bottom: 30px;
		}
	}
}

/*=6 gallery
-------------------------------------------------------------*/
.gallery {
	.gallery-wrap {
		height: 100%;
		.viewport {
			width: 680px;
			height: 100%;
			overflow: hidden;
			margin: 0 auto;
			-webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
			@include display-box;
			@include box-pack(center);
			@include box-align(center);
			.flipsnap {
				.item {
					float: left;
					text-align: center;
					position: relative;
					.icon {
						position: absolute;
						top: 20px;
						left: 20px;
						font-size: 140%;
					}
					.plus {
						position: absolute;
						bottom: 50px;
						right: 20px;
						background: #d87676;
						p {
							margin-top: 0;
							padding: 0.7em 1em;
						}
					}
					.type {
						position: absolute;
						top: 20px;
						left: 20px;
						p {
							background: $gold;
							margin-top: 0;
							padding: 0.5em 1em;
						}
					}
					.ja {
						background: $gold;
						color: #fff;
						padding: 0.2em 0.5em;
					}
					.fr {
						background: $blue;
						color: #fff;
						padding: 0.2em 0.5em;
					}
					.ch {
						background: $red;
						color: #fff;
						padding: 0.2em 0.5em;
					}
					p {
						font-size: 120%;
						margin-top: 1em;
						color: #fff;
					}
				}
			}
		}
	}
}

/*=7 auth
-------------------------------------------------------------*/
#auth {
	#wrapper {
		#container {
			text-align: center;
			width: 80%;
			margin: 0 auto;
			.authBox {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -66px 0 0 -115px;
				.input {
					position: relative;
					.alert {
						position: absolute;
						top: -24px;
						width: 228px;
						line-height: 20px;
						background-color: #fff;
						border: 1px solid #000;
						-webkit-border-radius: 4px;
						   -moz-border-radius: 4px;
						        border-radius: 4px;
						&:before, &:after {
							content: '';
							position: absolute;
							border-top: 7px solid;
							border-right: 7px solid transparent;
							border-left: 7px solid transparent;
							left: 10px;
						}
						&:before {
							border-top-color: #000;
							bottom: -8px;
						}
						&:after {
							border-top-color: #fff;
							bottom: -7px;
						}
						&.alert-error {
							border-color: $red;
							color: $red;
							&:before {
								border-top-color: $red;
							}
						}
					}
					.id {
						width: 210px;
						margin-bottom: 5px;
						padding: 7px 9px 9px;
						border: 1px solid rgba(0,0,0,.3);
						-webkit-border-radius: 2px;
						   -moz-border-radius: 2px;
						        border-radius: 2px;
						-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4);
						   -moz-box-shadow: 0 0 3px rgba(0,0,0,0.4);
						        box-shadow: 0 0 3px rgba(0,0,0,0.4);
						font-size: 18px;
					}
				}
				.button {
					margin-bottom: 30px;
					width: 230px;
					height: 40px;
					background: #53ad86;
					-webkit-border-radius: 3px;
					   -moz-border-radius: 3px;
					        border-radius: 3px;
					-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
					   -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
					        box-shadow: 0 1px 0 rgba(0,0,0,0.2);
					font-family: 'ヒラギノ明朝 Pro W6','Hiragino Mincho Pro','ＭＳ Ｐ明朝',serif;
					text-align: center;
					input[type=submit] {
						margin: 0;
						padding: 0;
						width: 100%;
						line-height: 40px;
						background-color: transparent;
						background-repeat: no-repeat;
						background-position: left center;
						border: none;
						color: #fff;
						font-size: 130%;
					}
					&:active {
						background: #3f946f;
						-webkit-transform: translate(0, 1px);
						        transform: translate(10px);
						-webkit-box-shadow: none;
						   -moz-box-shadow: none;
						        box-shadow: none;
					}
					// background-color: $green;
				}
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	#course .detail .detailBox table {
		width: 60%;
	}
}